@import "tailwindcss";

:root {
  --bg-main: #ffffff;
  --bg-sidebar: #f8fafc;
  --bg-card: #ffffff;
  --bg-header: rgba(255, 255, 255, 0.8);
  --border: #e2e8f0;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --accent: #3b82f6;
  --shadow-soft: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] {
  --bg-main: #020617;
  --bg-sidebar: #0f172a;
  --bg-card: #1e293b;
  --bg-header: rgba(2, 6, 23, 0.8);
  --border: #334155;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --accent: #3b82f6;
  --shadow-soft: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.5s ease, color 0.5s ease;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
